@model Calculadora_de_Prestamos.Models.CalculadoraViewModel


<h3 class="mb-3">Resultado:</h3>

<input type="text" class="form-control bg-black text-white" placeholder="Resultado" asp-for="Result" readonly value = "@Model.Result">
